{
	acme_dns cloudflare {$CF_API_TOKEN}
}

(cors) {
	@origin header Origin {args.0}
	header @origin {
		Access-Control-Allow-Origin "{args.0}"
		Access-Control-Request-Method GET
	}
}

trackmix.party {
	# root * /static
	# file_server

	reverse_proxy frontend:8443
}

api.trackmix.party {
	reverse_proxy backend:8443
}

audio.trackmix.party {
	import cors https://trackmix.party
	root * /audio
	file_server
}
